{% extends 'blog/base.html' %}

{% block title %}Посты{% endblock %}

{% block content %}
    <h1>Опубликованные посты с рейтингом выше 5</h1>
    {% if posts %}
        {% for post in posts %}
            <div>
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px; height: auto;">
                {% endif %}
                {% if post.category %}
                    <p>Категория: {{ post.category }}</p>
                {% endif %}
                {% if post.tags.all %}
                    <p>
                        Тэги:
                        {% for tag in post.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>Рейтинг: {{ post.rate }}</p>
                <p>{{ post.body|truncatewords:20 }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет подходящих постов.</p>
    {% endif %}
{% endblock %}
